<html>

<body>
<div align="center">
    <form action="/editmessage" method="post">
        <input type="hidden" name="id" value="{{message.id}}">

        <label for="uMessage">Сообщение:</label>
        <input type="text" id="uMessage" name="text" placeholder="Введите сообщение" value="{{message.text}}" />

        <label for="uTag">Тэг:</label>
        <input type="text" id="uTag" name="tag" placeholder="Тэг" value="{{message.tag}}">

        <button type="submit">Сохранить</button>
    </form>
</div>

</body>
</html>