<html>

<body>
<div align="center">
    <form method="post" action="add">
        <label for="uMessage">Заметка:</label>
        <input type="text" id="uMessage" name="text" placeholder="Введите заметку" />
        <label for="uTag">Заголовок:</label>
        <input type="text" id="uTag" name="tag" placeholder="Заголовок">
        <button type="submit" name="action" value="adding">Добавить</button>
    </form>
</div>
<div align="center">Список заметок</div>
<div align="right">
<form method="post" action="filter">
    <label for="fTag">фильтр по названию:</label>
    <input type="text" id="fTag"  name="filter" placeholder="Заметка">
    <button type="submit" name="action" value="filtering">Найти</button>
</form>
</div>

<div align="center">



        <table border="1" cellpadding="5">

            <tr>
                <th>ID</th>
                <th>Text</th>
                <th>Tag</th>
                <th>Actions</th>
            </tr>
            {{#messages}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{text}}</td>
                    <td>{{tag}}</td>
                    <td>
                        <a href="/editmessage?id={{id}}">Edit</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/delmessage?id={{id}}">Delete</a>
                    </td>
                </tr>
            {{/messages}}

        </table>





</div>

</body>
</html>